body {

    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

#header-container {

    font-family: sans-serif;
    
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;

    
}

#header-logo {
    color: #fff;
    flex: 1;
}

.header-item {
    
    justify-content: space-between;
    padding: 10px;
    
}

#hero-container {
    font-family: sans-serif;
    display: flex;
    background-color: #1F2937;
    padding: 100px;
    align-items: center;
    justify-content: center;
    
}
#hero-bigtext {
    color: #fff;
    font-size: 48px;
    font-weight: 900;
    
}
#hero-paragraph {
    color: #E5E7EB;
    word-wrap: break-word;
}
#hero-button {
    background-color: #3882F6;
    color: #fff;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    
}
#hero-placeholder {
    background-color: #E5E7EB;
    padding: 100px 150px;
}
.hero-item {
    margin: 20px;
}

#randominfo-container {
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#randominfo {
    font-size: 26px;
    color: #1F2937;
    font-weight: 900;
}
#four-illustrations {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    gap: 40px;
    margin: 40px 0;
    
}
.illustrations {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.illus-box {
    border: 3px solid black;
    border-color: #3882F6;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.illus_subtext {
    padding: 10px;
}